.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 0;
}

.content h2 {
  font-size: 2em;
  margin-bottom: 1.5rem;
}

.content p {
  font-size: 1.3em;
  margin-bottom: 1.5rem;
}

.indent1 {
  margin-left: 4rem;
}

.indent2 {
  margin-left: 8rem;
}

.indent3 {
  margin-left: 14rem;
}

.box-newsletter {
  max-width: 100%;
  flex-direction: column;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

.box-fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}

.imagen-mono-pablete {
  max-width: 40%;
}

.logos-rrss {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.logo-rrss {
  font-size: 1.8em;
  cursor: pointer;
}

.logo-rrss:hover {
  color: #ffae00;
}

@media (max-width: 768px) {

  .indent1 {
    margin-left: 1rem;
  }

  .indent2 {
    margin-left: 4rem;
  }

  .indent3 {
    margin-left: 7rem;
  }
}

@media (max-width: 480px) {
  .indent1 {
    margin-left: 0.5rem;
  }

  .indent2 {
    margin-left: 2rem;
  }

  .indent3 {
    margin-left: 3rem;
  }
}