.App {
    padding: 0 10rem;
}

@media (min-width: 1440px) {
    .App {
        padding: 0 25rem;
    }
}

@media (max-width: 768px) {
    .App {
        padding: 0 2rem;
    }
}

@media (max-width: 1024px) {
    .App
    {
        padding: 0 4rem;
    }
}
